<?xml version="1.0" encoding="utf-8"?>
<packages>
	
	
	<package id="powershell-core" />
	<package id="microsoft-windows-terminal" />
	<package id="poshgit" />
	
	<package id="git" />
	<package id="tortoisegit" />
	<package id="github-desktop" />
	
	<package id="sql-server-express"/>
	<package id="sql-server-management-studio"/>
	
	<package id="visualstudio2022community" />
	<package id="vscode" />
	
	<package id="postman" />
	<package id="kdiff3" />
	<package id="dotnetreactor" />
	<package id="fiddler" />
	<package id="dotpeek" />	
	<package id="wixtoolset" />
	<package id="windows-sdk-8.1" />
	<package id="microsoftazurestorageexplorer" />
	<package id="nugetpackageexplorer" />

	<package id="paint.net" />
	<package id="7zip.install" />
	<package id="notepad++" />
	<package id="filezilla" />
	<package id="greenshot" />
	<package id="windirstat" />
	<package id="tightvnc" />
	
	<package id="powertoys" />
	<package id="sysinternals" />
	<package id="linqpad" />
	<package id="wireshark" />
	
	<!--non dev-->
	<package id="zoom" />
	<package id="eartrumpet" />
	<package id="ditto" />
	
</packages>